body {
  height: 100vh;
  background-color: #051a2f;
}

.default-bg {
  background-color: #e3f2fd;
}

img.card-image {
  width: 15%;
}

img.card-image-grid {
  width: 15vh;
}

.grid-card-container {
  height: 300px;
  overflow: hidden;
}

div.split-col-filter {
  width: 48%;
}

.active {
  font-weight: bold;
}
