body,
html {
  height: 100%;
}

body {
  background: #f4f4f4;
}

#header-section {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url("../../img/header-home.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../img/header-home.jpeg");
  background-position: center center;
  background-size: cover;
}

#slider1 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 500px;
}

.carousel-caption {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}

#img-grid .carousel-caption,
.lower-row .carousel-caption {
  display: none;
}

.show {
  display: block !important;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  font-weight: bold;
}

.hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info,
.hovereffect h2 {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 300px;
}

.vertical-nav {
  border: 1px solid transparent;
  border-radius: 4px;
}

.hide-overflow {
  overflow: auto;
}

.go-to-top {
  opacity: 1;
  width: 75px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 4;
}

.bonus-top-padding {
  padding-top: 6rem !important;
}

.partner-logo {
  width: 400px;
  height: 400px;
}

@media (max-width: 480px) {
  .display-4 {
    font-size: 1.4rem !important;
  }
  .my-5 {
    font-size: 1.4rem !important;
  }
  .partner-logo {
    width: 200px;
    height: 200px;
  }
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
