div.container {
  background-image: url("../images/index-bg.jpg");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
}

body {
  height: 100vh;
  background-color: #051a2f;
}

img.more {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

img.more:hover {
  transform: scale(1.2);
  cursor: pointer;
}
